body{
    background-color: black;
    padding: 0 0;
    margin: 0 0 1% 0;
    font-family: 'Lato';
    color: white;
}
.Header {
    display: grid;
    grid-template-columns: 1fr .6fr;
    grid-template-rows: 350px;
    width: 100%;
}
.Header .Intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header > .Intro,.img{
}
.Header .Intro .Name{
    color: white;
    font-size: 20px;
}
.Header .Intro .Position{
    color: rgb(124, 154, 189);
    font-size: 90px;
}
.Header .Intro .LinkedIn{
    color: white;
    border-bottom: solid rgb(124, 154, 189);
    text-decoration: none;
    font-size: 20px;
}
.Header .Intro .LinkedIn:visited{
    color: white;
}
.About,.Skills,.WorkExperience{
    margin-left: 2%;
    color: rgb(124, 154, 189);
}
.About .title, .Skills .title,.WorkExperience .title{
    display: flex;

}
.About .title #about, .Skills .title #skills, .WorkExperience .title #work{
    flex: .2fr;
    font-size: 40px;
}
.About .title #line,.Skills .title #line, .WorkExperience .title #line{
    flex: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1% 0 1%;
}
.About .title #line hr, .Skills .title #line hr, .WorkExperience .title #line hr{
    width: 1700px;
    border-color: rgb(124, 154, 189);   
}
.WorkExperience .title #line hr{
    width: 1490px;
}

.About  .description{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
    margin: 0 auto;
    font-size: 21px;
    color: white;
}
.Skills .item-container {
    margin-right: 1.5%;
    padding: 2% 0 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: centers;
}
.Skills .item-container .item{
    color: white;
}

.Skills .item-container .item .title{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skills .item-container .item .experience{
    font-size: 20px;
    color: rgb(156, 158, 160);
    text-align: center;
}
.Skills .item-container .item .experience span{
    border-bottom: solid rgb(124, 154, 189);
    padding-bottom: .5%;
}

#frontEnd, #backEnd{
    font-size: 22px;
}
.WorkExperience .item-container{
}
.WorkExperience .item-container .title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 1% 0 1% 0;
    color: white;
}
.WorkExperience .item-container .title span{
    color: rgb(156, 158, 160);
    border-bottom: solid rgb(124, 154, 189);
}
.WorkExperience .item-container .Img{
    display: flex;
    justify-content: center;
}
.WorkExperience .item-container .description{
    width: 60%;
    margin: 1% auto 0 auto;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}
#pythonItem{
    margin-right:6%;
}
#sqlItem{
    margin-right: 3.5%;
    padding-right: .3%;
}
#azureitem{
    margin-right: 5.3%;
}
#frontEndItem{
    margin-left: 1%;
}
#javaItem{
    margin-left:7.5% ;
}
#firebaseItem{
    margin-left: 6.6%;
}
#backEndItem{
    margin-right: 5%;
}
#mongodbItem{
    margin-left: 3%;
}
#awsItem{
    margin-left: .9%;
    padding-left: 0.5%;
}