body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    color: white;
}
.Header {
    display: grid;
    grid-template-columns: 1fr .6fr;
    grid-template-rows: 500px;
    width: 100%;
}
.Header .Intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header > .Intro,.img{
}
.Header .Intro .Name{
    color: white;
    font-size: 20px;
}
.Header .Intro .Position{
    color: rgb(124, 154, 189);
    font-size: 90px;
}
.Header .Intro .LinkedIn{
    color: white;
    border-bottom: solid rgb(124, 154, 189);
    text-decoration: none;
    font-size: 20px;
}
.Header .Intro .LinkedIn:visited{
    color: white;
}
.About{
    margin-left: 2%;
    color: rgb(124, 154, 189);
}
.About .title{
    display: flex;

}
.About .title #about{
    flex: .2fr;
    font-size: 40px;
}
.About .title #line{
    flex: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1% 0 1%;
}
.About .title #line hr{
    width: 1700px;
    border-color: rgb(124, 154, 189);
    
}

